allow cameraserver default_android_hwservice:hwservice_manager find; allow cameraserver 
persist_camera_prop:file { open read getattr };
allow cameraserver sysfs_kgsl:dir { search };
